@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  background-color: white;
}

body {
  background-color: white;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove or override any dark mode preferences */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }

  body {
    background-color: white;
    color: #171717;
  }
}
